[Desktop Entry]
Version=1.0
Type=Application
Name=scibeats
Comment=Ths scientific sound downloader
TryExec=scibeats
Exec=scibeats %u
Icon=scibeats
Categories=Network;Qt;Audio;
Terminal=false
